<ion-view view-title="Catégories">
  <ion-content>
    <ion-list>
      <ion-item nav-direction="forward" href="#app/categorie">
      <h2>Films</h2>
      <p>Cinema, court métrage, série, animation</p>
      </ion-item>
      <ion-item nav-direction="forward" href="#app/categorie">
        <h2>Voyages</h2>
        <p>Pays, villes, tous les coins du globe à parcourir</p>
      </ion-item>
      <ion-item nav-direction="forward" href="#app/categorie">
        <h2>Sport</h2>
        <p>Collectifs, individuels, d'été ou d'hiver, ...</p>
      </ion-item>
      <ion-item nav-direction="forward" href="#app/categorie">
      <h2>Musique</h2>
      <p>Albums, singles, concert, festivals</p>
      </ion-item>
      <ion-item nav-direction="forward" href="#app/categorie">
        <h2>PC</h2>
        <p>Pc, mac, netbook</p>
      </ion-item>
      <ion-item nav-direction="forward" href="#app/categorie">
        <h2>Mobiles</h2>
        <p>Toutes les marques, toutes les tailles</p>
      </ion-item>
      <ion-item nav-direction="forward" href="#app/categorie">
        <h2>Tablettes</h2>
        <p>Toutes les marques, toutes les tailles</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
