<ion-view view-title="Dashboard">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>
    <div class="list card">

      <ion-item class="item item-avatar" nav-direction="forward" href="#app/details">
        <img src="img/avatar.png" >
        <h2>Voyage</h2>
        <p>Apploows - 28 Mars 2015</p>
      </ion-item>

      <div class="item item-body">
        <img class="full-image" src="img/slide.jpg">
        <p>
          Qelle est votre destination de vacances favorite?
        </p>
        <ul class="list">
          <div class="item item-divider">
            Top 3
          </div>
          <li class="item">
            #1 - Canada
          </li>
          <li class="item">
            #2 - Australie
          </li>
          <li class="item">
            #3 - Nouvelle Zelande
          </li>
        </ul>
        <p>
          <a href="#" class="subdued">132 contributions</a>
          <a href="#" class="subdued">2 commentaires</a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" nav-direction="forward" href="#app/details">
          <i class="icon ion-thumbsup"></i>
          Contribuer
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Commenter
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Partager
        </a>
      </div>

      <ion-item class="item item-avatar" nav-direction="forward" href="#app/details">
        <img src="img/avatar2.jpg" >
        <h2>PC Gamer</h2>
        <p>Kotasan - 12 Mars 2015</p>
      </ion-item>

      <div class="item item-body">
        <img class="full-image" src="img/slidepc.jpg">
        <p>
          Les meilleurs PC pour jouer?
        </p>
        <ul class="list">
          <div class="item item-divider">
            Top 3
          </div>
          <li class="item">
            #1 - Acer UYB-676
          </li>
          <li class="item">
            #2 - Asus AA-788
          </li>
          <li class="item">
            #3 - HP 7689JI
          </li>
        </ul>
        <p>
          <a href="#" class="subdued">342 contributions</a>
          <a href="#" class="subdued">78 commentaires</a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" nav-direction="forward" href="#app/details">
          <i class="icon ion-thumbsup"></i>
          Contribuer
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Commenter
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Partager
        </a>
      </div>

      <ion-item class="item item-avatar" nav-direction="forward" href="#app/details">
        <img src="img/avatar3.jpg" >
        <h2>Surf</h2>
        <p>Wasp - 05 Mars 2015</p>
      </ion-item>

      <div class="item item-body">
        <img class="full-image" src="img/slide3.jpg">
        <p>
          La meilleure planche de surf pour débutant?
        </p>
        <ul class="list">
          <div class="item item-divider">
            Top 3
          </div>
          <li class="item">
            #1 - Bic 9' Longboard
          </li>
          <li class="item">
            #2 - Fish 6'7 nsp
          </li>
          <li class="item">
            #3 - Bic 6'6 epoxy
          </li>
        </ul>
        <p>
          <a href="#" class="subdued">1298 contributions</a>
          <a href="#" class="subdued">2 commentaires</a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" nav-direction="forward" href="#app/details">
          <i class="icon ion-thumbsup"></i>
          Contribuer
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Commenter
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Partager
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
