<ion-view view-title="Détails">
  <ion-content>
    <ul class="list">
      <div class="item item-divider">
        Top 3
      </div>
      <li class="item">
        #1 - Canada
      </li>
      <li class="item">
        #2 - Australie
      </li>
      <li class="item">
        #3 - Nouvelle Zelande
      </li>
      <div class="item item-divider">
      </div>
      <li class="item">
        #4 - Suisse
      </li>
      <li class="item">
        #5 - Italie
      </li>
      <li class="item">
        #6 - Alpes
      </li>
      <li class="item">
        #7 - Etats-Unis
      </li>
      <li class="item">
        #9 - Argentine
      </li>
      <li class="item">
        #9 - Japon
      </li>
      <li class="item">
        #10 - Islande
      </li>
    </ul>
  </ion-content>
</ion-view>
